.todos-add {
    display: flex;
    overflow: hidden;
}

.todo-add_select-all {
    background: url(../../../../icons/select-all.png);
    background-repeat: no-repeat;
    border: 0;
    align-self: flex-start;
    height: 12px;
    width: 24px;
    margin: 28px 18px 24px 18px;
    order: 1;
}

.todo-add_input {
    font-family: "Arial" serif;
    font-size: 20pt;
    align-self: center;
    flex: 1 2;
    order: 2;
}