.todo-filter {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 5px 5px;
	background: #FFFFFF;
    margin: 5px;
}

.__active{
    border: 1px solid #E6E6E6; 
}